@if (href(); as href) {
  @if (isInternalLink()) {
    <a
      class="btn btn-{{ variant() }} btn-{{ size() }}"
      [routerLink]="href"
      [attr.aria-label]="ariaLabel()"
      [class.disabled]="disabled()"
      [attr.aria-disabled]="disabled() ? 'true' : null"
    >
      <ng-container *ngTemplateOutlet="label"></ng-container>
    </a>
  } @else {
    <a
      class="btn btn-{{ variant() }} btn-{{ size() }}"
      [href]="href"
      [attr.download]="download() ?? null"
      [attr.aria-label]="ariaLabel()"
      [class.disabled]="disabled()"
      [attr.aria-disabled]="disabled() ? 'true' : null"
    >
      <ng-container *ngTemplateOutlet="label"></ng-container>
    </a>
  }
} @else {
  <button
    class="btn btn-{{ variant() }} btn-{{ size() }}"
    [type]="type()"
    [disabled]="disabled()"
    [attr.aria-label]="ariaLabel()"
  >
    <ng-container *ngTemplateOutlet="label"></ng-container>
  </button>
}

<ng-template #label>
  <ng-content></ng-content>
</ng-template>
