.parent {
    padding: 4rem 2rem;

    h2 {
        margin-bottom: .5rem;
    }
    
    ::ng-deep .mat-grid-tile-content {
        justify-content: flex-start !important;
    }
    
    p {
        white-space: pre-line;
        margin-bottom: 4rem;
    }
    
    .flex {
        display: flex;
        gap: 4rem;
        flex-wrap: wrap;
    }

    .wit {
        max-width: 100%;
        max-height: 200px;
    }

    .skills-parent {
        max-width: 100%;
        overflow: auto;

        mat-grid-list {
            min-width: 30rem;
    
            mat-grid-tile {
                min-width: 10rem;
            }
        }
    }

    .small-gap {
        gap: 1rem;
    }
    
    .bottom-margin {
        margin-bottom: 4rem;
    }
}