.parent {
    padding: 4rem;

    h2 {
        margin-bottom: .5rem;
    }
    
    ::ng-deep .mat-grid-tile-content {
        justify-content: flex-start !important;
    }
    
    p {
        white-space: pre-line;
        margin-bottom: 4rem;
    }
    
    .flex {
        display: flex;
        gap: 4rem;
    }

    .small-gap {
        gap: 1rem;
    }
    
    .bottom-margin {
        margin-bottom: 4rem;
    }
}