<div class="parent">
    <a *ngIf="project.link; else title" [href]="project.link" target="_blank">{{ project.name }}</a>
    <ng-template #title>
        <h1 class="title">{{ project.name }}</h1>
    </ng-template>

    <c-carousel [interval]="5000" transition="slide" [dark]="true" transition="crossfade">
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let image of project.images">
                <img [src]="image" alt="Project Image"/>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
    
    <h1>Techstack</h1>
    <ul>
        <li *ngFor="let tech of project.techstack">{{ tech }}</li>
    </ul>
    
    <h1>Description</h1>
    <p>{{ project.description }}</p>
</div>

